* {
    cursor:
        url("img/wii-pointer.png") 12 0, auto;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    background-image: url('img/ground.jpg');
    background-size: 550px 550px;
    background-repeat: repeat;

    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Rodin;
    overflow: hidden;
    perspective: 1000px;
}

a,
button,
div {
    cursor: url("img/wii-pointer.png") 12 0, pointer !important;
}

@font-face {
    font-family: Rodin;
    src: url(font/RodinNTLG.otf);
}

/* Titel scherm unlock overlay */
.title-overlay {
    z-index: 999;
    display: flex;
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255, 255, 0.75);
}

.title-overlay img {
    transition: .15s ease-in-out;
    max-width: 50vw;

    @media screen and (max-width: 1300px) {
        max-width: 60vw;
    }

    @media screen and (max-width: 1024px) {
        max-width: 70vw;
    }

    @media screen and (max-width: 500px) {
        max-width: 85vw;
    }
}

.title-overlay img:hover {
    scale: 1.05;
}

.opened {
    background: rgba(255, 255, 255, 0);
    transition: .5s;
    pointer-events: none;
}

.opened img {
    animation: title-scale .5s ease-in-out 0s forwards;
}

@keyframes title-scale {
    0% {
        scale: 1.05;
    }

    25% {
        scale: 0.95;
    }

    60% {
        scale: 1.15;
    }

    100% {
        scale: 0;
    }
}

/* Main content */
main {
    position: relative;
    z-index: 10;
    width: 100%;
    height: 100%;
}

section {
    margin: 1em;
    position: fixed;
    z-index: 999;

    &.onscreen-content-left {
        article.onscreen-items-left {
            position: fixed;
            top: .5em;
            left: -20em;
            display: flex;
            flex-direction: column;
            gap: 0.5em;
            transition: left .35s ease-out;

            &.activate {
                left: .75em !important;
            }

            .wii-u-music-button {
                background-color: white;
                width: 80px;
                height: 80px;
                border-radius: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                outline: 2px rgb(190, 190, 190) solid;
                transition: .2s;
                cursor: pointer;

                &:hover {
                    background-color: rgb(247, 247, 247);
                    transform: scale(1.1);
                }
            }
        }

        h1 {
            margin: 0;
            font-size: clamp(1rem, 0.375rem + 2vw, 1.5rem);
            white-space: nowrap;
        }
    }

    &.personen {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 1em;
        
        position: fixed;
        top: 50%;
        left: 50%;
        z-index: 10;
        width: 80vw;
        height: 70vh;

        @media screen and (max-width: 700px) {
            top: 55%;
            width: 100vw;
            height: 80vh;            
        }
        
        transform: translate(-50%, -50%) scale(0); 
        pointer-events: none;
        transition: transform .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);


        &.activate {
            transform: translate(-50%, -50%) scale(1) !important;
            pointer-events: all !important;
        }

        article {
            padding: 0.5em;
            a {
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 100%;
                width: 4.5vw;
                height: 4.5vw;
                overflow: hidden;
                box-shadow: 0 4px 10px rgba(0,0,0,0.1);
                transition: transform 0.2s;
                @media screen and (max-width: 700px) {
                    width: 8vw;
                    height: 8vw;
                }

                &:hover {
                    transform: scale(1.1);
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}