*,
*::before,
*::after {
    cursor: inherit !important;
}

::-webkit-scrollbar {
    cursor: url("img/wii-pointer.png") 12 0, pointer !important;
    width: 13px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    /* Subtiel grijs/transparant */
    border-radius: 20px;
    border: 4px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

html,
body {
    cursor: url("img/wii-pointer.png") 12 0, auto !important;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    background-image: url('img/ground.jpg');
    background-size: 35rem;
    background-repeat: repeat;

    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Rodin;
    overflow-x: hidden !important;
    transition: background-blend-mode, background-color .2s;

    &.is-window-open {
        background-blend-mode: multiply;
        background-color: #050542;
    }
}

@font-face {
    font-family: Rodin;
    src: url(font/RodinNTLG.otf);
}

.no-interaction {
    pointer-events: none !important;
    cursor: url("img/wii-pointer.png") 12 0, auto !important;
}

/* Titel scherm unlock overlay */
.title-overlay {
    z-index: 999;
    display: flex;
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255, 255, 0.75);
}

.title-overlay img {
    transition: .15s ease-in-out;
    max-width: 50vw;

    @media screen and (max-width: 1300px) {
        max-width: 60vw;
    }

    @media screen and (max-width: 1024px) {
        max-width: 70vw;
    }

    @media screen and (max-width: 500px) {
        max-width: 85vw;
    }
}

.title-overlay img:hover {
    scale: 1.05;
}

.opened {
    background: rgba(255, 255, 255, 0);
    transition: .5s;
    pointer-events: none;
}

.opened img {
    animation: title-scale .5s ease-in-out 0s forwards;
}

@keyframes title-scale {
    0% {
        scale: 1.05;
    }

    25% {
        scale: 0.95;
    }

    60% {
        scale: 1.15;
    }

    100% {
        scale: 0;
    }
}

/* Main content */
main {
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
}

section {
    margin: 1em;

    &.onscreen-content-left {
        padding: 0;
        width: 100vw;
        height: 8%;

        article.onscreen-items-left {
            margin-top: -20em;
            display: flex;
            flex-direction: row;
            gap: 1em;
            transition: margin-top .35s ease-out;

            &.activate {
                margin-top: 0em !important;
            }

            .whistle-container {
                display: flex;
                flex-direction: column;
                align-items: center;
                color: black;
                transition: color .2s;

                &.text-color {
                    color: white !important;
                }

                #whistle {
                    width: 80px;
                    height: 80px;
                    transition: .13s;

                    &:hover {
                        transform: scale(1.07);
                    }
                }

                .sort-activate {
                    animation: sort-activate .4s ease-out .15s forwards !important;
                }
            }

            .whistle-disable {
                display: none !important;
            }

            .music-button {
                width: 80px;
                height: 80px;
                border-radius: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: .13s;
                position: relative;
                box-shadow: 0px 0px 8px 8px rgba(255, 255, 255, 0.4);

                &:hover {
                    background-color: rgb(247, 247, 247);
                    transform: scale(1.07);
                }

                .music-img-container {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    width: 60%;
                    height: 60%;
                    border-radius: 100%;
                    background-color: white;
                    box-sizing: border-box;
                }

                .music-img-container img[alt="Wii Muziek"] {
                    width: 58%;
                }
            }

            .vinyl-rotate {
                animation: vinyl-rotate 4s linear 0s infinite;
            }
        }

        h1 {
            margin: 0;
            font-size: clamp(1rem, 0.375rem + 2vw, 1.5rem);
            white-space: nowrap;
        }

        .FDND-button {
            width: 80px;
            height: 80px;
            border-radius: 100%;
            background-color: #66e5bf;
            color: #050542;
            outline: 3px #050542 solid;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: .13s;
            position: relative;
            user-select: none;
            text-align: center;
            line-height: 20px;
            &:hover {
                transform: scale(1.07);
                box-shadow: 0px 0px 8px 8px #66e5bf81;
            }

            &.window-open-invert {
                background-color: #050542 !important;
                color: #66e5bf !important;
                outline: 3px #66e5bf solid !important;
                box-shadow: 0px 0px 8px 8px #66e5bf81;
                &:hover {
                    background-color: #66e5bf23 !important;
                }
            }
        }
    }

    &.personen {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 1em;

        position: absolute;
        top: 54%;
        left: 50%;
        z-index: 10;
        width: 90vw;
        height: 80vh;

        @media screen and (max-width: 700px) {
            left: 47%;
            top: 61%;
        }

        transform: translate(-50%, -50%) scale(1);
        transition: transform .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);

        article {
            padding: 0.5em;
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 15%;
            position: relative;

            &.person-all {
                pointer-events: none !important;
                scale: 0;
                transition: .2s ease;
            }

            &.activate {
                scale: 1;
                pointer-events: all !important;
            }

            &.person-all.focused {
                transform: scale(1.35);
                z-index: 100;
                padding: 2em;
                top: 20vh;

                @media screen and (max-width: 700px) {
                    transform: scale(1.5);
                    top: 23vh;
                }
            }

            &.person-all.hidden {
                opacity: 0;
                transform: scale(0.8);
                pointer-events: none;
                display: none;
            }

            a {
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 100%;
                width: 5vw;
                height: 5vw;
                overflow: hidden;
                transition: transform 0.12s;

                @media screen and (max-width: 700px) {
                    width: 15vw;
                    height: 15vw;
                }

                &:hover {
                    transform: scale(1.1);
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            div {
                display: none;
                background-color: rgb(224, 224, 224);
                box-shadow: 0px 0px 8px 0px rgb(0, 0, 0);
                padding: 8%;
                font-size: clamp(.1rem, 0.375rem + 2vw, .5rem);
                position: absolute;
                bottom: 100%;
                z-index: 999;
                border-radius: 10px;
                text-align: left;
                width: 15vw;
                max-height: 30vh;
                overflow-y: auto;
                transform-origin: bottom;
                transform: scaleY(0);

                @media screen and (max-width: 700px) {
                    max-height: 31vh;
                    width: 45vw;
                }

                ul {
                    li {
                        a {
                            padding: 0;
                            margin: 0;
                            height: 1%;
                        }
                    }
                }

                .color-display {
                    display: inline-block;
                    width: 20px;
                    height: 20px;
                    margin-left: 1%;
                    vertical-align: middle;
                    border-radius: 4px;
                }

                h2 {
                    padding: 0;
                    margin: 0;
                }

                p {
                    overflow-wrap: break-word;
                    word-break: break-word;
                }
            }
        }
    }
}

iframe {
    display: flex;
    position: absolute;
    width: 100vw;
    height: 83%;
    opacity: 1;
    pointer-events: none;
    bottom: 0;
    z-index: 15;
    border: none;
    transition: .2s;
    transform: scaleY(0%);
    transform-origin: bottom;
}

.activate-iframe {
    opacity: 1 !important;
    transform: scaleY(100%) !important;
    pointer-events: all !important;
}

.activate-overlay {
    display: unset !important;
    animation: overlay-scale .2s ease-out .1s forwards;
}

@keyframes vinyl-rotate {
    from {
        rotate: 0deg;
    }

    to {
        rotate: 360deg;
    }
}

@keyframes sort-activate {
    0% {
        rotate: 0deg;
    }

    10% {
        rotate: 10deg;
    }

    20% {
        rotate: -10deg;
    }

    30% {
        rotate: 10deg;
    }

    40% {
        rotate: -10deg;
    }

    50% {
        rotate: 10deg;
    }

    60% {
        rotate: -10deg;
    }

    70% {
        rotate: 10deg;
    }

    80% {
        rotate: -10deg;
    }

    90% {
        rotate: 10deg;
    }

    100% {
        rotate: 0deg;
    }
}

@keyframes overlay-scale {
    from {
        transform: scaleY(0);
    }

    to {
        transform: scaleY(1);
    }
}