* {
    cursor:
        url("img/wii-pointer.png") 12 0, auto;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    background-image: url('img/ground.jpg');
    background-size: 550px 550px;
    background-repeat: repeat;

    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Rodin;
    overflow-x: hidden;
    perspective: 1000px;
}

a,
button,
div {
    cursor: url("img/wii-pointer.png") 12 0, pointer !important;
}

@font-face {
    font-family: Rodin;
    src: url(font/RodinNTLG.otf);
}

/* Titel scherm unlock overlay */
.title-overlay {
    z-index: 999;
    display: flex;
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255, 255, 0.75);
}

.title-overlay img {
    transition: .15s ease-in-out;
    max-width: 50vw;

    @media screen and (max-width: 1300px) {
        max-width: 60vw;
    }

    @media screen and (max-width: 1024px) {
        max-width: 70vw;
    }

    @media screen and (max-width: 500px) {
        max-width: 85vw;
    }
}

.title-overlay img:hover {
    scale: 1.05;
}

.opened {
    background: rgba(255, 255, 255, 0);
    transition: .5s;
    pointer-events: none;
}

.opened img {
    animation: title-scale .5s ease-in-out 0s forwards;
}

@keyframes title-scale {
    0% {
        scale: 1.05;
    }

    25% {
        scale: 0.95;
    }

    60% {
        scale: 1.15;
    }

    100% {
        scale: 0;
    }
}

/* Main content */
main {
    position: relative;
    z-index: 10;
    width: 100%;
    height: 100%;
}

section {
    margin: 1em;
    position: fixed;
    z-index: 999;

    &.onscreen-content-left {
        padding: 0;
        width: 100vw;
        height: 8%;
        article.onscreen-items-left {
            position: fixed;
            top: .5em;
            left: -20em;
            display: flex;
            flex-direction: row;
            gap: 1em;
            transition: left .35s ease-out;

            &.activate {
                left: .75em !important;
            }

            .wii-u-music-button {
                background-color: white;
                width: 80px;
                height: 80px;
                border-radius: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                outline: 2px rgb(190, 190, 190) solid;
                transition: .2s;
                cursor: pointer;

                &:hover {
                    background-color: rgb(247, 247, 247);
                    transform: scale(1.1);
                }
            }
        }

        h1 {
            margin: 0;
            font-size: clamp(1rem, 0.375rem + 2vw, 1.5rem);
            white-space: nowrap;
        }
    }

    &.personen {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 1em;

        position: fixed;
        top: 50%;
        left: 50%;
        z-index: 10;
        width: 90vw;
        height: 80vh;

        @media screen and (max-width: 700px) {
            left: 47%;
            top: 57%;
        }

        transform: translate(-50%, -50%) scale(1);
        pointer-events: none;
        transition: transform .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);

        article {
            padding: 0.5em;
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 15%;
            position: relative;

            &.person-all {
                pointer-events: none !important;
                scale: 0;
                transition: .2s ease;
            }

            &.activate {
                scale: 1;
                pointer-events: all !important;
            }

            &.person-all.focused {
                transform: scale(1.35); /* Iets groter voor dat Wii effect */
                z-index: 100;
                padding: 2em; /* Wat extra ademruimte */
                top: 20vh;
                @media screen and (max-width: 700px) {
                    transform: scale(1.5);
                }
            }

            /* De anderen die verdwijnen */
            &.person-all.hidden {
                opacity: 0;
                transform: scale(0.8);
                pointer-events: none;
                display: none;
            }

            a {
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 100%;
                width: 5vw;
                height: 5vw;
                overflow: hidden;
                transition: transform 0.12s;

                @media screen and (max-width: 700px) {
                    width: 15vw;
                    height: 15vw;
                }

                &:hover {
                    transform: scale(1.1);
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            div {
                display: none;
                background-color: rgb(224, 224, 224);
                box-shadow: 0px 0px 8px 0px rgb(0, 0, 0);
                outline: .15vw rgb(177, 177, 177) solid;
                padding: 1vw;
                font-size: clamp(.1rem, 0.375rem + 2vw, .5rem);
                position: absolute;
                bottom: 100%;
                z-index: 999;
                border-radius: 1vw;
                text-align: left;
                width: 15vw;
                max-height: 30vh;
                overflow-y: auto;
                transform-origin: bottom;
                transform: scaleY(0);
                @media screen and (max-width: 700px) {
                    width: 45vw;
                }

                .color-display {
                    display: inline-block;
                    width: 20px;
                    height: 20px;
                    margin-left: 1%;
                    vertical-align: middle;
                    border-radius: 4px;
                }

                h2 {
                    padding: 0;
                    margin: 0;
                }

                p {
                    overflow-wrap: break-word;
                    word-break: break-word;
                }
            }
        }
    }
}

.activate-overlay {
    display: unset !important;
    animation: overlay-scale .2s ease-out .1s forwards;
}

@keyframes overlay-scale {
    from { transform: scaleY(0); }
    to { transform: scaleY(1); }
}